@cn.home.main("酿造数据库") {


    <div class="container">
        <div class="col-md-9">


            <div class="index-text" style="padding: 40px 40px 40px 0;">

                <div class="work-title" style="float: left;margin-top: 10px">
                    <h3>酿造</h3>
                </div>
                <div class="about-text-right">
                    <p>
                        利用发酵作用制造（酒、醋、酱油等）。 明 李时珍《本草纲目·草六·乌头》：“﹝土附子﹞处处有之，根、苗、花、实与川乌头相同。但此系野生，又无酿造之法。” 张天翼《大林和小林》：“ 唧唧 忽然想起了一件事：他听说这种虫子会酿造一种甜蜜蜜的玩意儿，很好吃。”
                    </p>
                    <p>引申为对一些原始材料加以组织、加工，使之产生新的东西。 臧克家《“五四”以来中国新诗发展的一个轮廓》：“这些颜色和香气发自生活的本身；但是经过了诗人内心的点染和酿造。”
                    </p>
                </div>
            </div>


            <div class="like col-md-9" style="padding: 0 40px 0 0;">
                <div class="container">

                    <div class="work-title" style="float: left;
                        margin-top: -15px;">
                        <h3>快速导航</h3>
                    </div>

                    <div style="margin-top: 55px;">


                        <div class="col-md-2 like-grids">
                            <a href="@routes.AmpController.to16S()" style="color: white">
                                <i class="fa fa-bar-chart" style="font-size: 70px;
                                    margin-top: -13px"></i>
                            </a>
                            <p>16S 数据</p>
                        </div>


                        <div class="col-md-2 like-grids">
                            <a href="#" style="color: white">
                                <i class="fa fa-wrench" style="font-size: 70px;
                                    margin-top: -13px"></i>
                            </a>
                            <p>风味信息</p>
                        </div>

                        <div class="col-md-2 like-grids">
                            <a href="#" style="color: white">
                                <i class="fa fa-download" style="font-size: 70px;
                                    margin-top: -13px"></i>
                            </a>
                            <p>菌株信息</p>
                        </div>


                        <div class="col-md-2 like-grids">
                            <a href="#" style="color: white">
                                <i class="fa fa-phone" style="font-size: 70px;
                                    margin-top: -13px"></i>
                            </a>
                            <p>实验室介绍</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <style>
                .ui.big.label {
                    font-family: 楷体;
                    font-size: 18px;
                    font-weight: bold !important;
                }

                .ui.raised.segment p {
                    font-size: 15px;
                }

        </style>

        <div class="col-md-3">

            <div align="center" style="margin-top: 20px">
                <a href="#" target="_blank"
                style="text-align: center">
                    <img src="@routes.Assets.versioned("images/log.jpg")" width="95%" style="margin-bottom: 20px">
                </a>
            </div>

            <div class="ui raised segment">
                <h4>
                    <span class="ui teal ribbon label big">
                        <i class="fa fa-cube"></i> 数据统计
                    </span>
                </h4>

                <br>
                <p><i class="fa fa-chevron-circle-right"></i> 16S 数据 : 10,000+</p>
                <p><i class="fa fa-chevron-circle-right"></i> ITS 数据 : 8,000+</p>
                <p><i class="fa fa-chevron-circle-right"></i> 风味物质库 : 1000+</p>
                <p><i class="fa fa-chevron-circle-right"></i> 可培养菌株 : 600+</p>
            </div>

            <div class="ui raised segment">
                <h4><span class="ui teal ribbon label big"><i class="fa fa-bookmark-o"></i> 版本说明</span></h4>

                <br>
                <p><i class="fa fa-chevron-circle-right"></i>
                    江南大学酿造数据库 1.0 于2018年上线。</p>

            </div>

        </div>
    </div>


    <div class="footer-bottom" style="margin-top: 200px">
        <div class="container">
            <p>  Copyright © <a href="http://www.jiangnan.edu.cn/" target="_blank">江南大学</a>   All rights reserved.</p>
        </div>
    </div>

}