@cn.page.main("ITS 数据") {

    @cn.amp.text("ITS 数据")

    <script>

            $(function () {

                new Vue({
                    el: "#table",
                    data: {
                        ths: ["ITS", "A05","A06","A07","A08","A09","A10","A11","A12","A13","A14",
                            "A15","A16","A17","A18","A19","A20", "A21","A22"]
                    }
                });

                axios.post("@routes.AmpController.getAllITS").then((data) => {
                    $("#table").bootstrapTable({data: data.data})
                });

            })
    </script>
}