@cn.page.main("主任介绍") {

    <style>

            .intro {
                list-style: disc;
                padding-left: 30px;
            }

            .intro li {
                list-style: disc;

            }



    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading">主任介绍</h2>
        </div>
    </div>


    <div style="
        float: left;
        text-align: center;
        margin: 20px
    ">
        <div style="text-align: center;">
            <img src="/assets/images/xuyan.jpg" width="200px" border="0">
        </div>
    </div>
    <div style="text-align: left;
        float: left">
        <div class="product-text" >

            <h1>徐岩</h1>
            <p>博士、教授、博士生导师</p>
            <hr>
            <h4>学术荣誉与兼职</h4>
            <ul class="intro">
                <li>江南大学酿酒科学与酶技术中心主任</li>
                <li>美国化学学会(ACS)农业与食品化学部Fellow</li>
                <li>轻工技术与工程国家双一流学科首席科学家</li>
                <li>十三五国家重点研发计划首席科学家</li>
                <li>长江学者与创新团队学术带头人</li>
                <li>中国酒业协会副理事长</li>
                <li>中国蒸馏酒产业技术创新战略委员会理事长</li>
            </ul>

        </div>

    </div>


    <div style="float: left;
        margin: 20px;">


        <h4>学术经历</h4>
        <p style="text-indent: 2em;">本科毕业于无锡轻工大学发酵工程专业，随后分别获得无锡轻工业大学发酵工程专业硕士、博士学位。日本国东京大学农学部、日本京都大学农学部、美国俄勒冈州立大学高级访问学者。</p>
        <hr>

        <h4>科研成果</h4>
        <p style="text-indent: 2em;">先后主持国家十三五重点研发计划项目、国家自然科学基金重点基金、“973计划课题”、“863计划课题”、国家科技支撑计划课题等国家级重大科研项目18项、“白酒169计划““3C计划”等行业协会、茅台、五粮液、洋河等龙头企业横向课题多项。近年来，在ACS CATAL （IF=12.2），TRENDS FOOD SCI TECH（IF=8.5）等发酵工程、酶工程领域主要学术期刊发表高水平SCI论文235篇（封面论文6篇），申请国家发明专利150余项（其中国际专利6项），授权90余项（其中国际专利6项）。出版《发酵工程》《现代白酒酿造微生物学》《Fermented Beverage Production> (Springer）等专（译）著16部。</p>
    </div>


}