@cn.page.main("下载"){

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading">下载</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="text-align: center">
        <thead>
            <tr>
                <th style="text-align: center">细菌扩增子数据（16S）</th>
                <th style="text-align: center">真菌扩增子数据（ITS）</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/CN/brew/Download/downloadAmp?file=JX_16S.xlsx" target="_blank">酱香 <i class="fa fa-download"></i></a></td>
                <td><a href="/CN/brew/Download/downloadAmp?file=JX_ITS.xlsx" target="_blank">酱香 <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><a href="/CN/brew/Download/downloadAmp?file=MX_16S.xlsx" target="_blank">米香 <i class="fa fa-download"></i></a></td>
                <td><a href="/CN/brew/Download/downloadAmp?file=MX_ITS.xlsx" target="_blank">米香 <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><a href="/CN/brew/Download/downloadAmp?file=NX_16S.xlsx" target="_blank">浓香 <i class="fa fa-download"></i></a></td>
                <td><a href="/CN/brew/Download/downloadAmp?file=NX_ITS.xlsx" target="_blank">浓香 <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><a href="/CN/brew/Download/downloadAmp?file=QX_16S.xlsx" target="_blank">清香 <i class="fa fa-download"></i></a></td>
                <td><a href="/CN/brew/Download/downloadAmp?file=QX_ITS.xlsx" target="_blank">清香 <i class="fa fa-download"></i></a></td>
            </tr>
        </tbody>
    </table>

}